.row-header{
	margin: 0px auto;
	padding: 0px;
}
.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}
.jumbotron{
	margin: 0px auto;
	padding: 70px 30px 70px 30px;
	background: #9575cd;
	color: #fff;

}
.footer{
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
	background: #d1c4e9;

}
address{
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}
.navbar-dark{
	background:  #512DA8;
}
.page-enter{
	opecity: .01;
	transform: translateX(-100%);
}
.page-enter-active{
	opecity: 1;
	transform: translateX(0%);
	transition: all 300ms ease-in;
}
.page-exit{
	opecity: 1;
	transform: translateX(0%);
}
.page-exit{
	opecity: .01;
	transform: translateX(100%);
	transition: all 300ms ease-out;
}